
  p {
    margin-bottom: 0px;
  }
  .react-chatbot-kit-chat-btn-send-icon{
    margin:auto !important;
  }

.chatbubble {
  width:40px !important;
  padding-left:7px !important;
}
.react-chatbot-kit-chat-message-container {
  height: 100% !important;
  overflow: scroll !important;
}
.react-chatbot-kit-chat-inner-container {
  height: 100% !important;
}
.react-chatbot-kit-chat-container {
  width: 100% !important;
  height: 100% !important;
  padding-bottom: 50px;
}
.react-chatbot-kit-chat-header{
  display: none  !important;
}

.react-chatbot-kit-user-chat-message {
  border-radius: 15px 15px 0px 15px !important;
}
