@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply bg-beaDarkPurple !important;
}

.active img {
  @apply filter-invert !important;
}

.active span {
  @apply text-white !important;
}

.plan-interactive-state {
  @apply rounded-xl flex mb-3 pl-1 pr-1 pt-4 pb-4;
}

.btn-white {
  @apply relative inline-flex items-center px-6 py-2 shadow-none text-sm font-medium rounded-full text-white hover:bg-white hover:text-beaOrange transition-all border-t border-b border-l border-r border-white group focus:outline-none;
}

.btn-darkPurple {
  @apply relative inline-flex items-center px-6 py-2 shadow-none text-sm font-medium rounded-full text-beaDarkPurple hover:bg-beaDarkPurple hover:text-white transition-all border-t border-b border-l border-r border-beaDarkPurple group focus:outline-none;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
