@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.react-chatbot-kit-chat-bot-message {
  @apply bg-black;
}

.active {
  @apply bg-beaDarkPurple !important;
}

.active img {
  @apply filter-invert !important;
}

.active span {
  @apply text-white !important;
}

.plan-interactive-state {
  @apply rounded-xl flex mb-3 pl-1 pr-1 pt-4 pb-4;
}

.btn-white {
  @apply relative inline-flex items-center px-6 py-2 shadow-none text-sm font-medium rounded-full text-white hover:bg-white hover:text-beaOrange transition-all border-t border-b border-l border-r border-white group focus:outline-none;
}

.btn-white-black {
  @apply relative inline-flex items-center px-6 py-2 shadow-none text-sm font-medium rounded-full text-white hover:bg-white hover:text-gray-600 hover:no-underline transition-all border-t border-b border-l border-r border-white group focus:outline-none;
}

.btn-darkPurple {
  @apply relative inline-flex items-center px-6 py-2 shadow-none text-sm font-medium rounded-full text-beaDarkPurple hover:bg-beaDarkPurple hover:text-white transition-all border-t border-b border-l border-r border-beaDarkPurple group focus:outline-none;
}

.dateHeader {
  @apply relative flex justify-center justify-items-center content-center px-6 py-2 shadow-none text-sm font-medium rounded-full text-gray-600 transition-all border-t border-b border-l border-r border-gray-200 text-center group focus:outline-none text-center;
}

.navigateButton {
  @apply relative flex justify-center justify-items-center content-center px-6 py-2 shadow-none text-sm font-medium rounded-full text-gray-600 transition-all border-t border-b border-l border-r hover:text-white hover:bg-beaLightPurple hover:no-underline border-beaLightPurple text-beaLightPurple text-center group focus:outline-none text-center;
}

.btn-darkPurpleInvert {
  @apply relative group text-white transition-all hover:bg-transparent hover:text-beaDarkPurple hover:border-beaDarkPurple inline-flex items-center px-6 py-2 border border-transparent shadow-none text-sm font-medium rounded-full bg-beaDarkPurple focus:outline-none;  
}

/* Chat styling */

.react-chatbot-kit-chat-btn-send-icon {
  @apply fill-current text-beaLightPurple !important;
}

.react-chatbot-kit-chat-btn-send {
  @apply mb-3 bg-transparent w-6 mr-2 ml-0 outline-none !important;
}
.react-chatbot-kit-chat-bot-message-container {
  padding: 10px 0px;
}
.react-chatbot-kit-chat-bot-message {
  border-radius: 15px 15px 15px 0px !important;
  display: inline-block;
  text-align: left;
  padding: 10px;
  position: relative;
  @apply w-auto ml-1 bg-transparent shadow-md text-gray-600 border-3 border-beaCyan !important;
}

.react-chatbot-kit-chat-bot-message-arrow {
  @apply hidden !important;
}

.learning-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.learning-option-button {
  padding: 0.5rem;
  @apply bg-beaLightPurple rounded-full text-white font-bold px-4 border-3 mr-0 border-beaLightPurple outline-none !important;
}
.button-disabled {
  background-color: gray !important;
  border-color: gray !important;
}

.react-chatbot-kit-chat-input {
  width: 90%;
  padding: 10px;
  @apply rounded-full ml-4 mr-1 mb-3 bg-beaLightGrey outline-none !important;
}

.react-chatbot-kit-chat-bot-avatar {
  @apply m-0 p-0 items-center !important;
  display: inline-block;
}

.react-chatbot-kit-chat-bot-avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  @apply bg-beaLightPurple bg-beaLogo bg-75% bg-no-repeat bg-center shadow-md border-2 border-white !important;
}

.react-chatbot-kit-chat-bot-avatar-letter {
  @apply hidden !important;
} 

.react-chatbot-kit-user-avatar {
  @apply hidden !important;
} 

.react-chatbot-kit-user-chat-message-arrow {
  @apply hidden !important;
}

.react-chatbot-kit-user-chat-message {
  @apply bg-transparent border border-beaBorderGrey shadow-md !important;
}
.items-center {
  text-align: center;
}
/*implemented the below so the graphs/charts would center-align properly */
svg {
  display: inline-block;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */