.learning-options-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .learning-option-button {
    padding: 0.5rem;
    border-radius: 25px;
    background: transparent;
    border: 1px solid #b58fe1;
    margin: 3px;
  }
  p {
    margin-bottom: 0px;
  }
  .react-chatbot-kit-chat-btn-send-icon{
    margin:auto;
  }
  .learning-options-container {
    margin-left: 50px;
  }
 